{% extends "_base.html" %}
{% block content %}

<!--
<ul class="nav nav-tabs">
  <li class="active"><a href="{{url_for('index')}}">Models Search</a></li>
  <li><a href="{{url_for('within_model')}}">Within-Model Comparison</a></li>
  <li><a href="{{url_for('between_models')}}">Between-Models Comparison</a></li>
</ul>
-->

<div class="container">

<div class="row">
    <div class="col-md-8">
        <form method="post" role="form" id="form_arg">
            <div class="row">
              Show <input type="text" name="number" size="4" value="20"> models with columns of
            </div>
            <div class="row">
                <div id="dynamicInput"></div>
            </div>
            <div class="row">
              <input type="button" style="padding: 5px 10px;" class="btn btn-primary btn-xs" value="Add" onclick="addInput('dynamicInput');" />
            </div>
            <div class="row">
            After
            <input name="timestamp" id="timestamp" value="2016-08-03" data-format="YYYY-MM-DD" data-template="YYYY MMM D">
            &nbsp; &nbsp;
            </div>
          <div class="row">
              <button type="button" class="btn btn-success btn-sm" id="GoButton">Go</button>
          </div>
        </form>
    </div>
</div>


<div class="row">
    <table class="table" id="results-table">
      <thead id="results-head">
      </thead>
      <tbody id="results">
      </tbody>
    </table>
</div>
</div>

<!--        <tr>
          <th>&nbsp; &nbsp; &nbsp;</th>
          <th>Model ID</th>
          <th>Run Time</th>
          <th>Metric</th>
          <th>Parameter</th>
          <th>Value</th>
        </tr>-->
<!--
<div class="row">
    {% for table in tables %}
    {{ table|safe }}
    {% endfor %}
</div>
-->

{% endblock %}
