{% extends "_base.html" %}
{% block content %}

<div class="container">

<div class="row">
<button onclick="window.location.href='{{url_for('index')}}'" id="GoBack" class="btn btn-primary">Back to Search</button>
</div>

<div class="row>">
<div id="tabs">
    <ul class="nav nav-tabs row" id="prodTabs">
        <li class="active" id="tab_model"><a href="#model" data-toggle="tab">Model Prediction</a></li>
        <li id="tab_individual"><a href="#individual" data-toggle="tab">Individul Prediction</a></li>
        <li id="tab_within"><a href="#within" data-toggle="tab">Within-Model Comparison</a></li>
        <li id="tab_between"><a href="#between" data-toggle="tab">Between-Models Comparison</a></li>
    </ul>
    <div class="tab-content">
        <div id="model" class="tab-pane fade in active">
            <div class="row">
                {% for table in tables %}
                {{ table|safe }}
                {% endfor %}
            </div>
        </div>
        <div id="individual" class="tab-pane fade"><p> content of individual prediction </p></div>
        <div id="within" class="tab-pane fade"><p> content of within-model comparison </p></div>
        <div id="between" class="tab-pane fade"><p> content of between-model comparison </p></div>
    </div>
</div>
</div>


<div class="row pager">
    <form id="pagerp_model">
      <ul class="pagination pagination-sm">
        <li class="prev"><a href="#">&laquo;</a></li>
        <li><span class="pagedisplay"></span></li><!-- this can be any element, including an input -->
        <li class="next"><a href="#">&raquo;</a></li>
        <li><select class="pagesize">
              <option selected="selected" value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="40">40</option>
              <!--<option value="all">All Rows</option>-->
            </select></li>
      </ul>
    </form>
  </div>


<!--
<div class="row">
<ul id="navigation" class="nav nav-tabs">
    {% for href, id, caption in navigation_bar %}
        <li{% if id == active_page %} class="active"{% endif
        %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
    {% endfor %}
</ul>
</div>
-->


</div>
{% endblock %}
