table.dataframe, .dataframe th, .dataframe td {
    border: none;
    border-bottom: 1px solid #C8C8C8;
    border-collapse: collapse;
    text-align:left;
    padding: 10px;
    margin-bottom: 40px;
    font-size: 1.0em;
}

tr:hover { background-color: #cce6ff;}



.row{
    margin-top: 30px;
    margin-bottom: 20px
}

.headrow{
    margin-top:15px;
    margin-bottom:5px;
}




